 <div class="row">
    <!-- Card Projects -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-title">
                <span>{{rowData.title}}</span>
            </div>
            
            <div class="card-content">
                Project type: {{rowData.type}}
            </div>
            <div class="card-content">
                Created At: {{moment-format (unix rowData.createdAt) 'MMMM Do YYYY, h:mm:ss a'}}
            </div>
            
            <div class="card-action">
                    {{state-label label="Status" state=rowData.status}}
            </div>
            <div class="card-action">
                {{#link-to "record" rowData.id }}More info >>>{{/link-to}}
            </div>
        </div>
    </div>
</div>
