<div class="index-container">
    <div class="container index-head">
      <div class="row">
        <div class="col-md-6">
            <p> AKAIROZ</p>
            <h1>A Cloud Distributed Machine Learning Solution</h1>
        </div>
      </div>
    </div>
</div>
<div class="index-middle container">
  <div class="row">
    <div class="col-xs-offset-1 col-sm-3 index-middle-el col-xs-10 card">
      <div class="card-title">Parameter Server</div>
      <div class="card-content">
        <p>Efficient asynchronous communication</p>
        <p>Flexible consistency models</p>
        <p>Elastic Scalability</p>
        <p>Fault Tolerance and Durability</p>
        <p>Ease of use</p>
      </div>
    </div>
    <div class="col-sm-3 col-xs-10 col-xs-offset-1 index-middle-el  card">
      <div class="card-title">Cloud computing</div>
      <div class="card-content">
        <p>Heavy works solving effectively in cloud</p>
        <p>Efficient resource management by provisioning</p>
      </div>
     </div>
    <div class="col-sm-3 col-xs-10 index-middle-el col-xs-offset-1 card">
     <div class="card-title">Mobile analytics</div>
     <div class="card-content">
        <p>One click set up</p>
        <p>Analytics on the go</p>
        <p>Updated benchmark</p>
      </div>
      </div>
  </div>
</div>
