<div class="container">
    {{#bs-nav type="tabs" as |nav|}}
        {{#nav.item}}{{#nav.link-to "record.index"}}Record details{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "record.payment"}}Payment{{/nav.link-to}}{{/nav.item}}
    {{/bs-nav}}
    {{outlet}}
</div>